<h1>Feel free to contact me!</h1>

<hr>

<div class="row">
	<div class="col-md-6">
		<h3>Office Address</h3>

		<p>176 Oxford Rd, Manchester M13 9PL</p>

		<h3>Phone</h3>

		<p><%= number_to_phone "07969576024" %></p>

		<h3>Email</h3>

		<p><a href="mailto:ollieontheweb@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
	</div>

	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2375.0846029155373!2d-2.235493784150723!3d53.46694807337196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bb18d86536991%3A0x5ccce77157e9c80e!2sUniversity+Place!5e0!3m2!1sen!2suk!4v1535024032396" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>
